@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
  }
}

@layer utilities {
  .fade-in {
    @apply opacity-0 animate-fade-left animate-once animate-duration-500 animate-ease-in animate-fill-forwards;
  }
}
